<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row">
  <div class="column">
  	

    <img src="https://www.w3schools.com/w3images/avatar2.png" class="avatar">
  </div>

  <div class="column">
    <div class="card">
      
      <p>I am a student of HBTU kanpur computer science engineering.</p>
      <p>This is a project where we are importing a lot of data and </p>
      <p>work together by building and implementing apis.</p>
      <p>I am a compatative programmer , machine learning enthisiastic,</p>
      <p>web developer ,python developer .  </p>
      <p>I have worked with flask, Django , React frameworks and </p>
      <p>rest api .Worked with Sqlite, Firebase ,Mysql and mongodb.</p>
      <p>Proficient in applying new things comes in the way.</p>
     <center>
    <h1 style="font-family: monospace;font-style: oblique;text-shadow: rgba(0,0,0,0.4);
text-shadow: red;box-shadow: blue;
    ">Sundaram Dubey

    </h1></center>
    </div>
  </div>

  <style type="text/css">
  	.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  text-align: center;
  font-family: cursive;
  font:oblique;
  background-color: green;
  text-decoration-color: white;
}
  </style>